@keyframes moveInLeft {
    0% {
        /*before animation begins*/
        opacity: 0;
        transform: translateX(-10rem);
        /*translateX translates our animation from the left/right*/
    }

    80% {
        transform: translateX(.2rem);
    }

    100% {
        /*the final state of animation*/
        opacity: 1;
        transform: translate(0);
        /*this gives us the original state without animation*/
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*
    two types of animations = transitions, keyframes
*/

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-.1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
